# Exclude exported CurseForge zip files
./*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude CF Releases
*.zip

# Exclude IDE files
.idea
.vscode

# Exclude Mac metadata files
.DS_Store